<footer id="main-footer">

  <div class="content">
    <div class="container">
      <!-- d-flex  justifycontspacebtwn -->
      <div class="footerContent">

        <!-- footerNav -->
        <div class="footerNav">
          <a class="footerNavItem" href="#!contact">CONTACTS</a>
          <a class="footerNavItem" href="#!finddealer">FIND DEALER</a>
          <a class="footerNavItem" href="#!privacypolicy">PRIVACY POLICY</a>
        </div>

        <div class="footerNavIcons">
          <!-- <i class="fab fa-facebook-f"></i> -->
          <!-- <i class="fab fa-twitter"></i> -->
          <!-- <i class="fab fa-instagram"></i> -->
          <a class="footerNavIcon" href="#"><i class="fab fa-facebook-f fa-lg"></i></a>
          <a class="footerNavIcon" href="#"><i class="fab fa-twitter fa-lg"></i></a>
          <a class="footerNavIcon" href="#"><i class="fab fa-instagram fa-lg"></i></a>
        </div>

      </div>

      <!-- text-center -->
      <div class="footer-bottomtext">
        &copy; 2020 THOR SKI.
      </div>

    </div>

  </div>

</footer>