<header>
  <nav id="main-navbar" class="navbar">
    <div class="container navbar-content">
      <!-- <img src="../images/thorlogopng1.png" alt=""> -->
      <a class="navbar-brand" href="#"><img src="../images/logoskiname8.svg" alt=""></a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span> </button> -->
      <div class="nav-items" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item active"><a class="nav-link" href="#/!">Overview
              <span class="sr-only">(current)</span></a></li>   ng-class="{active: $route.current.activetab == 'products'}"-->
          <li class="nav-item text-white" ><a class="nav-link" ng-class="{active: $route.current.activetab == 'products'}" href="#!products">PRODUCTS</a></li>
          <li class="nav-item text-white" ng-class="{active: $route.current.activetab == 'about'}"><a class="nav-link" href="#!about">ABOUT</a></li>
          <li class="nav-item text-white" ng-class="{active: $route.current.activetab == 'contact'}"><a class="nav-link" href="#!contact">CONTACTS</a> </li>
          <!-- <i class="fas fa-shopping-cart"></i> -->
          <li class="nav-item text-white" ng-class="{active: $route.current.activetab == 'cart'}">
            <a class="nav-link" href="#!cart">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
</header>