<!-- container -->
<div id="homepage" class="">

  <div id="home-jumbotron" class="">
    <div class="promo1 container">
      <img class="promo1-img" src="{{homeContent.image1}}" alt="">
      <div class="promo1-text">
        <p> {{homeContent.promotext1}} </p>
        <p class="brandname"> {{homeContent.brandname}} </p>
      </div>
    </div>
  </div>

  <section class="home-section1 container">
    <div class="thePhilosophy">
      <h3> {{homeContent.Philosophytitle}} </h3>
      <p> {{homeContent.Philosophytext}} </p>
      <p> <strong> {{homeContent.Philosophytextstrong}} </strong> </p>
    </div>
  </section>

  <section>
    <div class="home-section2">

    </div>
  </section>

</div>